  <div class="container-fluid">
    <div class="span12">
	  <div>Draft Order</div>
      <div class="span5" ng-repeat="fteam in fteams | orderBy:fteamOrderProp">
		<div class="span2">{{fteam.FantasyTeam}}</div>
		<div class="span1"><input ng-model="fteam.DraftOrder" ng-change="saveDraftOrder(fteam)" class="input-small" type="number"></div>
	  </div>
      <div class="span7">
	  <button class="btn" ng-click="generateCompleteDraft()">Generate Complete Draft Order</button>
				<table class="table table-bordered table-hover">
				  <thead>
					<tr><th>Selection</th><th>Round</th><th>Team</th></tr>
				  </thead>
				  <tbody>
				  <tr ng-repeat="order in draftorder | orderBy:draftorderOrderProp">
					<td>{{order.selection}}</td>
					<td>{{order.round}}</td>
					<td>{{order.FTeamName}}</td>
				  </tr>
				  </tbody>
				</table>
		</div>
	</div>
  </div>